#about-me-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.card img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 0 5px white;
  transition: 0.3s;
}

@media (min-width: 1200px) {
  #about-me-img {
    height: 500px;
    width: 500px;
    border-radius: 0;
  }
}
